* {
    margin: 0px;
    padding: 0px;
 }


.bovenste{
    background-color: #1f2937;
    display: flex;
    flex-direction: column;
    padding-bottom: 100px;
}

.header{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    color: white;
}

.header-left{
    margin-left: 100px;
}

.header-right{
    display: flex;
    gap: 15px;
    margin-right: 100px;
}

.awesome{
    display: flex;
    margin-top: 50px;
    justify-content: center;
}

img{
    width: 450px;
    height: 250px;
    margin-left: 25px;
    object-fit: cover;
}

.hoofdtekst{
    font-weight: bold;
    font-size: 50px;
    color: white;
}

.awesome-links{
    width: 400px;
    margin-left: 100px;
    flex: 1;
    margin-left: 300px;
}

.awesome-rechts{
    flex: 1;
}

.subtext{
    margin-top: 20px;
    margin-bottom: 40px;
    color: white;
}

.sign{
    padding: 10px 20px;
    border-style: none;
    border-radius: 5px;
    color: white;
    background-color: #3882F6;
}

.midden{

}

.random{
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    margin-top: 40px;

}

.box{
    border-style: solid;
    border-color: blue;
    height: 140px;
    width: 140px;
    border-radius: 20px;
}

.boxes{
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 40px;
}

.omhulsel{
    width: 140px;
    flex-direction: column;
    display: flex;
    align-items: center;
}

.subtext{
    color: grey;
}

.onder{
    height: 400px;
    background-color: grey;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.quote{
    text-align: center;
    font-size: 30px;
    font-style: italic;
    width: 620px;
}

.thor{
    margin-left: 500px;
}

.blauwe-footer{
    background-color: blue;
    padding: 40px 100px;
    display: flex;
}

.helemaal-onder{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;
    color: white;
}

.onder-links{
    display: flex;
    flex-direction: column;
}

.call{
    font-weight: bold;
}

.click{
    font-size: 15px;
}

.sign-up{
    padding: 10px 20px;
    border-style: none;
    border-radius: 5px;
    color: white;
    background-color: #3882F6;
    margin-left: 50px;
}

.footer{
    background-color: grey;
    display: flex;
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

.copyright{
    color: white;

}

.annete{
    object-fit: cover;
    height: 140px;
    width: 140px;
    margin-left: 0px;
    border-radius: 20px;
}